body.exercicio {
  grid-template-rows: 120px 60px 1fr 60px;
  /*120 header
    60 area de navegação
    1fr para o main
    60 para o footer
    */
  grid-template-areas: "header" "nav" "main" "footer";
}

.main {
  height: calc(100vh - 240px);
}

.nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(92, 92, 92);
}

.nav > a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 300;
    font-size: 1.3rem;
    background-color: rgb(23, 108, 138);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
}

.nav > a.btnVermelho {
    background-color: rgba(255, 0, 0, 0.533);
  }
    
.nav > a.btnVerde {
    background-color: rgb(1, 116, 1);
  }
